@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 256 100% 97%;
    --foreground: 0 0% 13%;
    --card: 0 0 100%;
    --card-foreground: 0 0% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;
    --primary: 260 100% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 88%;
    --muted-foreground: 0 0% 42%;
    --accent: 256% 19% 96%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 100% 65%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 88%;
    --input: 0 0% 88%;
    --ring: 260 100% 65%;
    --radius: 0.4rem;
  }
}

@font-face {
  font-family: "GeistVF";
  src: url("./assets/fonts/GeistVF.ttf") format("truetype");
}

@font-face {
  font-family: "GeistMonoVF";
  src: url("./assets/fonts/GeistMonoVF.ttf") format("truetype");
}
